<div id="divOrderDetails" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Details</h4>
            </div>




            <table id="OrderAllDetailTable">
                <thead>
                    <tr>
                        <th>

                        </th>
                    </tr>
                </thead>
            </table>



        </div>
    </div>
</div>